*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none; 
}

body{
    background-color: #6cbeed;
}

header{
    background-color: #6EB4D1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

h1{
    font-size: 3rem;
}

nav ul li{
    display: inline;
    text-decoration: none;
    font-size: larger;
    margin-right: .5rem;
}

nav ul li a{
    color: #fff;
}

section img {
    width: 100%;
}


#profile {
    width: 30%;
    height: auto;
}