/* css variables for easily changing colors */
:root{
    --header:#E84855;
    --body:#3185FC;
    --aside:#403F4C;
    --footer:#F9DC5C;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* For taking away the underline mostly*/
a{
    text-decoration: none; 
}

body{
    background-color: var(--body);
}

header{
    background-color: var(--header);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

h1{
    font-size: 3rem;
}

nav ul li{
    display: inline;
    text-decoration: none;
    font-size: larger;
    margin-right: .5rem;
}

nav ul li a{
    color: #fff;
}

section img {
    width: 100%;
}

aside{
    background-color: var(--aside);
    padding: 1rem;
    color: #fff;
    border-color: var(--aside);
}


#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about p{
    font-size: large;
}

h2{
    font-size: 2.5rem;
    text-align: center;
}

#profile {
    width: 10%;
}

#projects{
   display: flex;
   flex-wrap: wrap;
}

#projects h2{
    display: block;
}

.card {
    flex: 1 1 400px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
  }

footer{
    background-color: var(--footer);
    padding: 1rem;
    text-align: center;
}

footer ul li a{
    color: #403F4C}

h3{
    font-size: 1.5rem;
}





@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }
  
